.servicebox{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
    border-radius: 1%;
    min-height: 244px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 1%;
   
}
.servicebox i{
    margin-bottom: 0%;
    margin-right: 3%;
    padding: -4%;
    float: left;
    display: block;
    max-width: 100%;
    height: auto;
}

.service-primary-info, .service-secondary-info {
    overflow: auto;
    overflow-x: hidden;
    height: 400px;
}

/* Estilos para el boton flotante */
.btn-xl i {
    font-size: 36px;
}
.btn-float{
    position: fixed;
    right: 37px;
    bottom:10px;
    font-size: 12px;
}

.btn-lateral{
    background-color: #008ECF;
    color: white;
    margin: 10px;
}
/* ================================ */

/*      Estilos boton borrar        */
#btnDelService {
    position: absolute;
    bottom: 420px;
    left: 320px;
    border: none;
    color: red;
}

#btnDelService:hover {
    width: 36px;
    height: 36px;
}
/* ================================ */